@import '../../../node_modules/react-toolbox/src/components/variables.css';

.SmoothiesCard {
}

.info {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.button {
    display: block;
}

